/* General styles */
html, body {
    height: 100%;
}

html {
    font-size: 100%;
}

body {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 59px;
    letter-spacing: -0.015em;
}

h2 {
    margin-bottom: 16px;
    margin-left: 2px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.7;
}

p {
    margin: 0;
}

textarea:focus {
    outline: none;
}

.container {
    margin: auto;
    padding: 0 15px;
    width: 830px;
    max-width: 100%;
}

.content.container {
    padding-left: 11px;
    padding-bottom: 85px;
}

.article p {
    margin-bottom: 30px;
    margin-left: 2px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: normal;
    letter-spacing: 0.007em;
}

.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-rounded {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Articles */

.main-article {
    padding-bottom: 2px;
    background: url("../img/bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.main-article .container {
    width: 1030px;
}

.powered-author {
    float: right;
    padding: 24px 3px 312px 0;
    color: #bab1ac;
}

.powered-author .name {
    text-decoration: underline;
}

.main-article p {
    margin-bottom: 20px;
    padding-left: 6px;
    width: 80%;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
}

.article-bottom-description {
    padding: 8px 0 7px;
    font-weight: 300;
    color: #fff;
    background: rgba(129, 129, 129, 0.55);
}

.article-data {
    float: left;
    margin-right: 15px;
    font-weight: 300;
    font-size: 16px;
}

.article-bottom-description .article-controls {
    margin-top: -2px;
}

.article-data img {
    display: inline-block;
    margin-right: 12px;
    height: auto;
    vertical-align: middle;
}

.article-bottom-description .article-data img {
    margin-top: -2px;
    margin-left: 5px;
}

.article .article-data img {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.main-article .link-embed {
    margin-left: 29px;
}

.main-article .img-newest,
.main-article .img-embed,
.main-article .img-share {
    margin-right: 6px;
}

.article-controls {
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 7px;
    list-style: none;
    text-transform: uppercase;
}

.article-controls .img-container {
    display: inline-block;
}

.article-data span {
    display: inline-block;
    margin-left: 35px;
}

.article-data span.date {
    letter-spacing: 0.02em;
}

.article .article-data span {
    margin-bottom: 7px;
}

.article-controls > li {
    display: inline-block;
    margin-left: 22px;
}

.add-controls > li {
    margin-left: 15px;
}

.add-controls .link-share {
    margin-left: 18px !important;
}

.article .link-arrow-down {
    margin-left: 7px;
}

.article .article-controls .img-arrow-up,
.article .article-controls .img-arrow-down {
    margin-right: 8px;
}

.article .link-embed {
    margin-left: 16px;
}

.article .article-controls .img-embed {
    margin-right: 1px;
}

.article .link-comments {
    margin-left: 14px;
}

.article .article-controls .img-comments {
    margin-right: 4px;
}

.article-controls a {
    display: block;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
}

.article-controls img {
    display: inline-block;
    margin-top: -4px;
    margin-right: 8px;
    vertical-align: middle;
}

.article .article-controls img {
    position: relative;
    bottom: 1px;
    margin-top: 0;
}

.fa-code {
    font-size: 32px;
}

.article-data span:first-child,
.article-controls > li:first-child {
    margin-left: 0;
}

.social-links {
    list-style: none;
}

.link-share {
    position: relative;
    margin-left: 28px !important;
}

.link-share label {
    display: block;
    line-height: 22px;
    cursor: pointer;
}

.social-links {
    display: none;
    position: absolute;
    top: 150%;
    left: -14px;
    z-index: 1;
    margin-top: 10px;
    padding: 7px 16px 7px 13px;
    background: #fff;
    text-transform: capitalize;
    border: 3px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.link-share input:checked ~ ul {
    display: block;
}

/*.link-share a:focus ~ ul {*/
    /*display: block;*/
/*}*/

.social-links:after {
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #ffffff transparent;
}

.social-links:before {
    display: block;
    position: absolute;
    top: -13px;
    left: 7px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 13px 12px;
    border-color: transparent transparent #e5e5e5 transparent;
}

.social-links li {
    padding: 2px 0;
    white-space: nowrap;
}

.social-links a {
    color: #5b5b5b;
    line-height: 22px;
}

.social-links .fa {
    width: 17px;
}

.fa-paper-plane {
    color: #777b82;
}

.fa-facebook {
    color: #3764ae;
}

.fa-twitter {
    color: #33aad6;
}

.fa-pinterest {
    color: #d63333;
}

.fa-google-plus {
    height: 14px;
    background: url("../img/google-plus.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.fa-google-plus:before {
    display: none;

}

.fa-tumblr {
    color: #364c74;
}

.wrap-tweet {
    margin-bottom: 35px;
}

.container-link {
    margin-bottom: 33px;
}

.container-link a {
    display: block;
    padding: 20px 15px;
    background: #e5e9ec;
    text-align: center;
    text-transform: uppercase;
    color: #6991a5;
    text-decoration: none;
}

.article .article-data,
.article .article-controls,
.article .article-controls a {
    font-weight: normal;
    font-size: 14px;
    color: #666666;
}

.article .article-data {
    margin-left: 3px;
}

.article .article-data span.date {
    margin-left: 38px;
}

.article .article-data span.city {
    margin-left: 31px;
}

.article .article-controls .numbers {
    color: #6ab04f;
    font-weight: bold;
}

.article .article-controls .numbers a {
    display: inline-block;
}

.article .article-controls {
    margin-top: -5px;
    padding-right: 3px;
    text-transform: capitalize;
}

.article .article-controls img {
    margin-right: 2px;
}

.article {
    position: relative;
    margin-bottom: 95px;
}

.article-2 {
    margin-bottom: 68px;
}

.article-2 p {
    letter-spacing: 0.009em;
}

.article-2 .newspaper img {
    left: -2px;
}

.article-3 {
    margin-bottom: 57px;
}

.article-3 h2 {
    margin-bottom: 21px;
}

.article-3 .wrap-img {
    margin-left: 1px;
}

.article-3 .newspaper img {
    top: -3px;
    left: -2px;
}

.article-4 {
    margin-bottom: 68px;
}

.article-4 h2 {
    margin-bottom: 13px;
}

.article-5 {
    margin-bottom: 77px;
}

.article-5 .newspaper img {
    left: -2px;
}

.article-6 {
    margin-bottom: 59px;
}

.article-7 {
    margin-bottom: 63px;
}

.article-7 h2 {
    margin-bottom: 24px;
}

.article-7 p {
    margin-bottom: 34px;
}

.article-8 {
    margin-bottom: 12px;
}

.article-8 h2 {
    margin-bottom: 23px;
}

.article-8 p {
    margin-bottom: 27px;
    letter-spacing: 0.002em;
}

.article-8 .wrap-video {
    margin-left: 1px;
    margin-right: 4px;
}

.article-9 {
    margin-bottom: 75px;
}

.article-9 .wrap-video {
    margin-left: 1px;
    margin-right: 3px;
}

.article-9 .toggle-replies {
    bottom: 13px;
}

.toggle-replies {
    position: relative;
    bottom: 7px;
    right: 2px;
    float: right;
    display: block;
    color: #888888;
    font-size: 30px;
}

.wrap-img {
    margin-bottom: 21px;
}

.three-photos {
    margin-left: 2px;
    margin-bottom: 3px;
}

.three-photos .col {
    float: left;
    margin-left: 2%;
    margin-bottom: 25px;
    width: 32%;
}

.three-photos .col:first-child {
    margin-left: 0;
}

.three-photos img {
    display: block;
    max-width: 100%;
}

.film-img-2 {
    margin-left: -5px;
}

.film-img-3 {
    margin-left: -3px;
}

.wrap-tweet twitterwidget,
.wrap-tweet iframe {
    margin-left: auto;
    margin-right: auto;
    width: 467px !important;
    border: 1px solid #b3b2b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(228,227,228,1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(228,227,228,1);
    box-shadow: 1px 1px 4px 0px rgba(228,227,228,1);
}


/* Replies */

.replies {
    margin-bottom: 34px;
    padding-top: 30px;
}

.send-comment {
    margin-top: -69px;
    padding: 17px;
    height: 178px;
    width: 100%;
    border: none;
    background: rgb(246, 246, 246);
    font-size: 15px;
    color: #b0adaf;
    resize: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.replies-head {
    position: relative;
    margin-bottom: 69px;
    text-align: center;
    color: #191919;
}

.replies-head:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: 1px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
}

.replies-head span {
    position: relative;
    left: -7px;
    padding: 0 7px;
    background: #fff;
    font-weight: 300;
    font-size: 18px;
}

.comment {
    margin-bottom: 60px;
}

.subcomments {
    margin-top: 50px;
}

.comment .comment {
    margin: 0 0 44px 95px;
}

.comment-2 {
    position: relative;
    left: -3px;
}

.user-img {
    float: left;
    margin-right: 21px;
}

.user-img img {
    width: 73px;
    height: auto;
}

.comment-text {
    margin-left: 94px;
    width: -webkit-calc(100% - 94px);
    width: -moz-calc(100% - 94px);
    width: calc(100% - 94px);
}

.author-date {
    margin-bottom: 4px;
}

.comment .author {
    margin-right: 17px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.003em;
}

.comment .date {
    color: #90919d;
}

.comment .text {
    margin-left: 1px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.65;
    font-weight: normal;
    letter-spacing: 0.007em;
}

.comment-link {
    font-size: 16px;
    color: #0d50a7;
    text-decoration: none;
}

/* pagination */

.pagination {
    margin-bottom: 81px;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination li {
    display: block;
    float: left;
    margin: 0 6px;
}

.pagination li.active {
    font-weight: bold;
}

.pagination a {
    padding: 0 5px;
    color: #6b6b6b;
    font-size: 16px;
    text-decoration: none;
}

.pagination li.active a {
    color: #333435;
}

.tip {
    margin-left: 1px;
    margin-right: 3px;
    padding: 16px 15px 17px;
    width: -webkit-calc(100% - 4px);
    width: -moz-calc(100% - 4px);
    width: calc(100% - 4px);
    background: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #7382b4;
    font-size: 20px;
    line-height: 1.6;
    border: 1px solid #8491bd;
    text-transform: uppercase;
    cursor: pointer;
}

.tip:focus {
    outline: none;
}

.tip img {
    margin: -6px 11px 0 -4px;
    vertical-align: middle;
}

/* video player */

.wrap-video {
    margin-bottom: 26px;
    border: 13px solid #eceff1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.video-js {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.video-dimensions {
    height: 343px;
}

.video-js .vjs-control-bar {
    height: 44px;
    background: none;
}

.video-js .vjs-progress-holder,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress {
    height: 8px;
}

.video-js .vjs-progress-holder .vjs-play-progress {
    background: rgba(255, 255, 255, 0.9);
}

.video-js .vjs-slider {
    margin: 0 1.5em 0 0.45em;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.video-js .vjs-progress-holder .vjs-play-progress {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.video-js .vjs-play-progress:before {
    display: none;
}

.video-js .vjs-control {
    width: 50px;
    height: auto;
}

.video-js .vjs-control:before {
    font-size: 44px;
    line-height: 44px;
}

.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time,
.vjs-time-divider,
.video-js .vjs-duration, .vjs-no-flex .vjs-duration {
    display: block;
}

.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time,
.video-js .vjs-time-divider,
.video-js .vjs-duration, .vjs-no-flex .vjs-duration {
    position: absolute;
    top: -18px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time {
    right: 43px;
    width: auto;
}

.vjs-time-divider {
    right: 38px;
    line-height: 12px;
}

.video-js .vjs-duration, .vjs-no-flex .vjs-duration {
    right: 0;
    width: 37px;
    text-align: left;
}

.vjs-remaining-time,
.video-js button.vjs-fullscreen-control {
    display: none;
}

.video-js .vjs-mute-control, .video-js .vjs-volume-menu-button {
    display: none;
}

.vjs-big-play-button:before {
    display: none;
}

.video-js .vjs-big-play-button {
    margin-top: -53px;
    margin-left: -48px;
    width: 98px;
    height: 98px;
    background: url("../img/audio-btn.png") -176px 0 no-repeat;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    background: url("../img/audio-btn.png") -176px 0 no-repeat;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: inherit;
}

/* video player youtube */

.big-border {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(236,239,241,1);
    -moz-box-shadow: 0px 0px 0px 8px rgba(236,239,241,1);
    box-shadow: 0px 0px 0px 8px rgba(236,239,241,1);
}

.wrap-video iframe {
    display: block;
    width: 100%;
}

/* audio player */

div.audio-player {
    width: 100%;
    height: 140px;
    overflow: visible;
    background: #f6f6f6;
}

.mejs-container {
    width: 100% !important;
}

.wrap-sound {
    margin-bottom: 30px;
}

.audio-player h2 {
    top: 44px;
    left: 0;
    padding-left: 175px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 27px;
    letter-spacing: 0.008em;
    text-shadow: none;
    max-width: -webkit-calc(100% - 95px);
    max-width: -moz-calc(100% - 95px);
    max-width: calc(100% - 95px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    width: -webkit-calc(100% - 225px) !important;
    width: -moz-calc(100% - 225px) !important;
    width: calc(100% - 225px) !important;
    background: #fff;
}

.mejs-controls .mejs-time-rail span {
    top: 82px;
    left: 170px;
    height: 8px;
}

.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
    top: 26px;
    left: 45px;
    width: 84px;
    height: 84px;
    background: transparent url(../img/audio-btn.png) 0 0 no-repeat;
}

.mejs-controls .mejs-play button {
    background: transparent url(../img/audio-btn.png) -87px 0 no-repeat;
}

.mejs-time-float-corner {
    display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {

    width: 100% !important;
    background: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
    display: none;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #dcdde8;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.mejs-time {
    position: absolute;
    right: 58px;
    top: 47px;
    color: #6b6b6b;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 27px;
}

/* desktop styles */

@media only all and (min-width: 1025px) {

    .container-link a {
        padding-left: 10px;
    }

    .wrap-tweet {
        padding-right: 7px;
    }

    .pagination {
        padding-left: 22px;
    }

}

/* Reset Pixel Perfect styles */

@media only all and (max-width: 860px) {

    .content.container {
        padding-left: 15px;
    }

    .three-photos {
        margin-left: 0;
    }

    .article-8 .wrap-video {
        margin-left: 0;
        margin-right: 0;
    }

    .article-9 .wrap-video {
        margin-left: 0;
        margin-right: 0;
    }

    .send-comment {
        margin-left: 0;
    }

    .tip {
        margin: 0;
    }
}

/* ipad styles */

@media only all and (min-width: 480px) and (max-width: 1024px) {

    .article-data span {
        margin-left: 25px;
    }

}

/* mobile landscape styles */

@media only all and (min-width: 480px) and (max-width: 767px) {

    .powered-author {
        padding: 24px 5px 24px 0;
    }

}

/* mobile portrait styles */

@media only all and (max-width: 479px) {

    .powered-author {
        padding: 16px 0;
    }

    h1 {
        margin-bottom: 15px;
        font-size: 36px;
        text-align: center;
    }

    .main-article p {
        padding-left: 0;
        width: 100%;
        font-size: 24px;
        text-align: center;
    }

    .article-data {
        max-width: 58%;
    }

    .content.container {
        padding-bottom: 50px;
    }

    .article .article-data {
        margin-right: 0;
        max-width: 54%;
    }

    .article-data span {
        display: block;
        margin-top: 10px;
        margin-left: 0;
    }

    .newspaper {
        line-height: 1.5;
    }

    .article-bottom-description .article-data img {
        margin-left: 0;
    }

    .article-controls > li {
        display: block;
        margin: 10px 0 0 !important;
    }

    .article-controls .img-container {
        width: 33px;
    }

    .img-embed {
        margin-left: -4px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .article {
        margin-bottom: 50px !important;
    }

    .three-photos .col {
        margin-left: 0;
        width: 100%;
    }

    .three-photos .col img {
        margin: 0;
        width: 100%;
    }

    .article-controls > li.numbers {
        display: block;
        float: left;
    }

    .article-controls > li.numbers .img-container{
        width: auto;
    }

    .numbers:first-child {
        margin-left: 4px !important;
        margin-right: 15px !important;
    }

    .add-controls .link-share {
        margin-left: 0 !important;
    }

    .article .img-embed {
        margin-left: -5px;
    }

    .article .article-controls > li:not(.numbers) {
        clear: both;
    }

    .wrap-tweet {
        margin: 35px 0;
    }

    .audio-player h2 {
        top: 104px;
        left: 0;
        padding: 0 15px;
        max-width: 100%;
    }

    .mejs-controls .mejs-play button,
    .mejs-controls .mejs-pause button {
        top: 15px;
        left: 15px;
    }

    .mejs-time {
        top: 40px;
        right: 15px;
    }

    .mejs-controls .mejs-time-rail span {
        left: 115px;
    }

    .mejs-controls .mejs-time-rail .mejs-time-total {
        top: 68px;
        left: 115px;
        width: -webkit-calc(100% - 130px) !important;
        width: -moz-calc(100% - 130px) !important;
        width: calc(100% - 130px) !important;
    }

    .video-dimensions {
        height: 200px;
    }

    .replies {
        margin-bottom: 25px;
        padding-top: 30px;
    }

    .replies-head {
        margin-bottom: 40px;
    }

    .comment {
        margin-bottom: 30px;
    }

    .comment .author {
        display: block;
        margin-bottom: 5px;
    }

    .comment .text {
        font-size: 15px;
    }

    .user-img {
        margin-right: 15px;
    }

    .user-img img {
        width: 54px;
    }

    .comment-text {
        margin-left: 69px;
        -webkit-width: calc(100% - 69px);
        width: -moz-calc(100% - 69px);
        width: calc(100% - 69px);
    }

    .subcomments {
        margin-top: 30px;
    }

    .comment .comment {
        margin: 0 0 25px 35px;
    }

    .send-comment {
        margin-top: 0;
        height: 150px;
    }

    .pagination {
        margin-bottom: 50px;
    }

    .wrap-video iframe {
        height: 200px;
    }

    .tip {
        font-size: 16px;
    }

}